# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
# Your code here
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_company = pd.read_csv(url)
insurance_company

In [ ]:
insurance_company.info()

In [ ]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
insurance_company.shape

In [ ]:
insurance_company.shape[1] # nr of columns

In [ ]:
insurance_company.shape[0] # nr of rows

In [ ]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
#You should also provide suggestions for fixing any incorrect data types.

insurance_company.dtypes

# Customer Lifetime Value : Current Type : object --> Convert to numeric (float)
# Number of Open Complaints : Current Type : object --> Convert to numeric (int)

In [ ]:
# Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

insurance_company.nunique()

# categorical columns : Customer, ST, GENDER, Education, Policy Type, Vehicle Class  

#Customer = 1071 : the number of unique customers (1071), doesn't match the number of rows = 4008 (some customers appear more than once)
insurance_company.Customer.unique()
#['RB50392', 'QZ44356', 'AI49188', ..., 'CW49887', 'MY31220', nan]

#ST = 8 : only 8 states, Some states are written as FULL names, some are abbreviations
insurance_company.ST.unique()
#['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali','AZ', 'WA', nan]

#GENDER = 5: we should only have 2 (male/female); There are misspellings and abbreviations
insurance_company.GENDER.unique()
#[nan, 'F', 'M', 'Femal', 'Male', 'female']

#Education = 6 : 6 levels; duplicates Bachelor and Bachelors
insurance_company.Education.unique()
#['Master', 'Bachelor', 'High School or Below', 'College','Bachelors', 'Doctor', nan]

#Policy Type : 3 : 3 types
insurance_company['Policy Type'].unique()
#['Personal Auto', 'Corporate Auto', 'Special Auto', nan]

#Vehicle Class : 6 : 6 classes 
insurance_company['Vehicle Class'].unique()
#['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car','Luxury Car', nan]


# Numerical columns:
#Customer Lifetime Value = 1027  
insurance_company['Customer Lifetime Value'].min() # TypeError: '<=' not supported between instances of 'float' and 'str'
insurance_company['Customer Lifetime Value'].max() # TypeError: '<=' not supported between instances of 'float' and 'str'
#insights : columns contain different data types 

#Income = 774 
insurance_company['Income'].min() = 0.0
insurance_company['Income'].max() = 99960.0
#insights : O income : might be missing data or unemployed 

#Monthly Premium Auto = 132 
insurance_company['Monthly Premium Auto'].min() = 61.0
insurance_company['Monthly Premium Auto'].max() = 35354.0
#insights : the ranges of min and max are too far apart

#Number of Open Complaints = 6 
insurance_company['Number of Open Complaints'].min() # TypeError: '<=' not supported between instances of 'str' and 'float'
insurance_company['Number of Open Complaints'].max() # TypeError: '>=' not supported between instances of 'str' and 'float'
#insights : columns contain different data types 

#Total Claim Amount = 761 
insurance_company['Total Claim Amount'].min() = 0.382107
insurance_company['Total Claim Amount'].max() = 2893.239678
#insights : range seems reasonable for claim amounts

In [3]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. 
# You should also provide your conclusions based on these summary statistics.
insurance_company.describe(include="all")
# Customer : 1071 unique customers
# ST : : 1071 states with 8 unique ones; the most frequent is Oregon with 320 repetitions 	
# GENDER : 954 values; with 5 unique gender values, F is the most frequent value, with 457 repetitions (so mostly females)  	
# Education : a count of 457, and 6 unique, the most frequent value is Bachelor with 324 repetitions 
# Customer Lifetime Value : a count of 1068, and 1027 unique/ Column contains mixed types
# Income : 1071 income count; mean = 39295.70; median(50%) = 36234.0; the difference between the two values is explained by min and max values : far apart; Mean > median â†’ some customers have very high income 
# Monthly Premium Auto : count of 1071; mean = 193.23; median = 83.00; the difference between the two values is explained by min and max values : far apart; Large outliers.  
# Number of Open Complaints : count of 1071; 6 unique /Column contains mixed types
# Policy Type : count of 1071; 3 unique, Personal Auto is the most frequent value with 780 repetitions (most customers have a personal auto)
# Vehicle Class : count of 1071; 6 unique, Four-Door Car is the most frequent value with 576 repetitions (more than half of customers)
# Total Claim Amount : count of 1071; mean = 404.98; median = 354.72;the difference between the two values is small

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,1071,1071,954,1071,1068,1071.000000,1071.000000,1071,1071,1071,1071.000000
unique,1071,8,5,6,1027,NaN,NaN,6,3,6,NaN
top,MY31220,Oregon,F,Bachelor,251459.20%,NaN,NaN,1/0/00,Personal Auto,Four-Door Car,NaN
freq,1,320,457,324,4,NaN,NaN,830,780,576,NaN
mean,NaN,NaN,NaN,NaN,NaN,39295.701214,193.234360,NaN,NaN,NaN,404.986909
std,NaN,NaN,NaN,NaN,NaN,30469.427060,1601.190369,NaN,NaN,NaN,293.027260
min,NaN,NaN,NaN,NaN,NaN,0.000000,61.000000,NaN,NaN,NaN,0.382107
25%,NaN,NaN,NaN,NaN,NaN,14072.000000,68.000000,NaN,NaN,NaN,202.157702
50%,NaN,NaN,NaN,NaN,NaN,36234.000000,83.000000,NaN,NaN,NaN,354.729129
75%,NaN,NaN,NaN,NaN,NaN,64631.000000,109.500000,NaN,NaN,NaN,532.800000
max,NaN,NaN,NaN,NaN,NaN,99960.000000,35354.000000,NaN,NaN,NaN,2893.239678

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [4]:
# Your code here
import numpy as np
location_counts = insurance_company['ST'].value_counts()
least_common_5 = location_counts.sort_values().head(5)
print(least_common_5)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [5]:
# Your code here
number_of_policies_sold = insurance_company['Policy Type'].value_counts()
highest_number_of_policies_sold = number_of_policies_sold.idxmax() # policy type with the highest number of policies sold
print(highest_number_of_policies_sold)

Policy Type
Special Auto       57
Personal Auto     780
Corporate Auto    234
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here
personal_auto = insurance_company.loc[insurance_company["Policy Type"] == "Personal Auto"]
corporate_auto = insurance_company.loc[insurance_company["Policy Type"] == "Corporate Auto"]

In [ ]:
avg_personal = personal_auto["Income"].mean()
avg_corporate = corporate_auto["Income"].mean()
avg_personal, avg_corporate

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here